@{
    ViewBag.Title = "Home Page";
}

<div style="background-color: rgb(250, 235, 215,0.5); margin-top: 2rem;" class="jumbotron">
    <h1>Travel Safe!</h1>
    <p class="lead">Travel Safe is an application to manage the documents needed to enter a country, and the language spoken there.</p>
</div>

<div style="background-color: rgb(250, 235, 215,0.5); border-radius:1rem;"class="row">
    <div class="col-md-4">
        <h2>Countries</h2>
        <p>
            List of all the Countries available in the system.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44340/Country/List">See more &raquo;</a></p>
    </div>
    <div  class="col-md-4">
        <h2>Documents</h2>
        <p>List of all the Documents available in the system.</p>
        <p><a class="btn btn-default" href="https://localhost:44340/Document/List">See more &raquo;</a></p>
    </div>
    <div  class="col-md-4">
        <h2>Languages</h2>
        <p>List of all the Languages available in the system.</p>
        <p><a class="btn btn-default" href="https://localhost:44340/Language/List">See more &raquo;</a></p>
    </div>
</div>